<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
  </head>
  <body>
    <h1>Email Status</h1>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Email</th>
          <th>Status</th>
<!--          <th>Reject Reason</th>-->
<!--          <th>Queued Reason</th>-->
        </tr>
      </thead>
      <tbody>

        {% for item in response %}
        <tr>
          <td>{{ item['_id'] }}</td>
          <td>{{ item['email'] }}</td>
          <td>{{ item['status'] }}</td>
<!--          <td>{% if item['reject_reason'] %}{{ item['reject_reason'][0] }}{% else %}-{% endif %}</td>-->
<!--          <td>{% if item['queued_reason'] %}{{ item['queued_reason'][0] }}{% else %}-{% endif %}</td>-->
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
